body
{
	margin: 0;
	color: #333;
	background-color: #fff;
	font-weight: light;
	font-family: Gill Sans, Verdana, sans-serif;
	font-size: 14px;
}

A:link    { color: #333; text-decoration: underline; }
A:active  { color: #999; text-decoration: none; }
A:visited { color: #000; text-decoration: underline; }
A:hover   { color: #999; text-decoration: none; }


#header
{
	position: fixed;
	top: 0;
	width: 100%;
	height: 20px;
}


#footer
{
	background-image: url("Images/white.jpg");
	border-top: 1px solid #ddd;

	position: fixed;
	bottom: 0px;
	z-index: 2;
	padding-top: 5px;

	width: 100%;
	height: 15px;
	
	color: #666;
	font-family: sans-serif;
	font-style: oblique;
	font-size: 12px;
	text-align: center;
}


#body
{
	target=_blank;
	padding-top: 50px;
	margin-bottom: 64px;
	margin-right: 250px;
	margin-left: 5em;
    top: 120px;
}


#rightcolumn
{
	float: right;
	padding-top: 150px;
	width: 250px;
	margin-right: 1em;
	padding-left: 2em;
}


#topnavigationbar, #subnavigationbar
{
	text-align: center;
	font-size: 11px;
	color: #333;

	padding: 3px 1em 3px 1em;
	height: 13px;

	border-bottom: 1px solid #aaa;
	background-image: url("Images/navbg.jpg");
}

#subnavigationbar
{
	border: 1px solid #ddd;
	padding: 0px 1em 3px 1em;
	display: inline;
	background-image: url("Images/white.jpg");
}

#topnavigationbar  A:link    { color: #333; text-decoration: none; border: 0; }
#topnavigationbar  A:active  { color: #999; text-decoration: none; border: 0; }
#topnavigationbar  A:visited { color: #333; text-decoration: none; border: 0; }
#topnavigationbar  A:hover   { color: #999; text-decoration: none; border: 0; }
#subnavigationbar  A:link    { color: #333; text-decoration: none; border: 0; }
#subnavigationbar  A:active  { color: #999; text-decoration: none; border: 0; }
#subnavigationbar  A:visited { color: #333; text-decoration: none; border: 0; }
#subnavigationbar  A:hover   { color: #999; text-decoration: none; border: 0; }
#sidenavigationbar A:link    { color: #333; text-decoration: none; border: 0; }
#sidenavigationbar A:active  { color: #999; text-decoration: none; border: 0; }
#sidenavigationbar A:visited { color: #333; text-decoration: none; border: 0; }
#sidenavigationbar A:hover   { color: #999; text-decoration: none; border: 0; }



.box, #sidenavigationbar
{
	border: 1px solid #ddd;
	margin-bottom: 1em;
	padding: 1em 2em 1em 2em;
	font-size: 11px;
}

.boxtitle
{
	font-family: serif;
	font-size: 14px;
	text-align: center;
}

/* ---- Sections ---- */
.section
{
	margin: 1ex 0 0 0;
	text-align: left;
}

.sectionhead
{
	font-weight: bold;
	color: black;
	font-size: 130%;
}

.section .section .sectionhead                  { font-size: 120%; }
.section .section .section .sectionhead         { font-size: 100%; }

.sectionheadsep
{
	border: none;
	padding-bottom: 5px; /* 原為 10px，調小 */
	margin-bottom: 5px;  /* 原為 20px，調小 */
}

.section ul {
	margin-top: 5px;      /* 消除預設過大的頂部空白 */
}

/* ---- backtotop ---- */
.backtotop
{
	color: #666666;
	font-family: sans-serif;
	font-size: 10px;
}

/* ------------------------------------------------------------------
    BLOG stuff
    ~~~~~~~~~~
   ------------------------------------------------------------------ */
.storycontent
{
	color: #333;
	margin: 1em 2em 1em 2em;
	text-align: left;
}

.storytitle
{
	color: #333;
	font-family: sans-serif;
	font-size: 11px;
	font-weight: bold;
}

.storydate
{
	color: #666;
	font-family: sans-serif;
	font-size: 9px;
	font-weight: normal;
	text-align: right;
}

.storyclose
{
	color: #666;
	font-family: sans-serif;
	font-size: 9px;
	font-weight: normal;
	text-align: right;
}

.storydateheader
{
	color: #333;
	font-family: sans-serif;
	font-size: 11px;
	font-weight: bold;
	
}

span.orangebutton
{
   border: 1px solid;
   border-color: #ffc8a4 #7d3302 #3f1a01 #ff9a57;
   padding: 1px 3px 1px 3px;
   font: bold 8px Verdana, sans-serif;
   color: #ffffff;
   background-color: #ff6600;
   text-decoration: none;
   margin: 0px;
}

span.orangebutton A:link	{text-decoration: none;}
span.orangebutton A:active	{text-decoration: none;}
span.orangebutton A:visited	{text-decoration: none;}
span.orangebutton A:hover	{text-decoration: none;}

.storydateheader A:link		{color: #333; text-decoration: none;}
.storydateheader A:active	{color: #999; text-decoration: none;}
.storydateheader A:visited	{color: #333; text-decoration: none;}
.storydateheader A:hover	{color: #999; text-decoration: none;}

.storyclose A:link		{color: #333; text-decoration: none;}
.storyclose A:active	{color: #999; text-decoration: none;}
.storyclose A:visited	{color: #333; text-decoration: none;}
.storyclose A:hover		{color: #999; text-decoration: none;}


div.tl {
	width:800px;
	float:top;

	position:relative;
	top:-8px;
	left:-8px;
}

	td.fillgrey {
		width:140px;
		height:15px;
		background:#aaaaaa;
	}

	td.fillblue {
		width:660px;
		height:15px;
		background:#009999;
	}

table.prize {
        font-size:10pt;
        font-family:verdana;

}

td.title {
	font-size:10pt;
	font-weight:bold;

	background-color:#bbbbbb
}

td.body {
	font-size:10pt;
	padding:10px 10px;

	background-color:#dddddd

}
